name: listtile_example_04
description: "A Flutter demo app showcasing ListTile variations with leading, trailing, subtitles, and the isThreeLine property to demonstrate text wrapping and vertical alignment."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
