name: listtile_example_08
description: "A Flutter demo app showcasing ListTile with dynamic subtitle, enabled state, and interactive behavior controlled by a toggle button."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
