name: listtile_example_11
description: "A Flutter demo app showcasing a custom article-style list item layout using Row, Expanded, AspectRatio, and a reusable widget for displaying article previews."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
