name: listtile_example_10
description: "A Flutter demo app showcasing a custom list item layout using Row, Expanded, and a reusable widget to mimic and extend ListTile functionality."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
