name: using_widget_constructors_dependency_injection
description: "A Flutter demo app showcasing widget constructors to pass state values into multiple stateless widgets, combined with a StatefulWidget managing the counter."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
