name: firebase_crud_example_01
description: "A Flutter demo app showcasing Firebase Firestore CRUD operations with a service layer and real-time UI updates using StreamBuilder."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^4.2.1
  cloud_firestore: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
