name: outlinedbutton_example_01
description: "A Flutter demo app showcasing handling user input with OutlinedButton and SnackBar feedback."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
